@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  width: 100%;
  font-size: 14px;
  min-height: 100%;
  background-color: #ffffff;
}
/* </div> </div> */